# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Introduce common data science libraries
- Data Science Tools
- Explore data visualization techniques

##### Some of the popular languages that Data Scientists use are:
###### 1- java
###### 2- python
###### 3- R 
###### 4- SQL

##### Some of the commonly used libraries used by Data Scientists include:
 - Pytorch
 - Numpy
 - turicreate

| Data Science Tools. |
|--------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

 This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [1]:
200/60

3.3333333333333335

## Author

Alaa